<header class="header-wrapper">
    <div class="container">
        <div class="d-flex bg-white justify-content-between align-items-center px-2 py-3 header-wrapper">
            <div class="logo">
                <a href="./index.html" class="logo">
                    <h2>Shoppers</h2>
                </a>
            </div>
            <div class="search">
                <form class="search-form d-flex justify-content-between px-2 py-1">
                    <input type="text" placeholder="Seach on Shoppers">
                    <button class="search-button">
                        <span><i class="fas fa-search"></i></span>
                    </button>
                </form>
            </div>
            <div class="info">
                <a href="./cart.html">
                    <span><i class="fas fa-cart-plus"></i></span>
                </a>
                <span class="badge badge-light">0</span>
                <span class="pl-2"><i class="fas fa-user"></i></span>
                <div class="info-notLogin"></div>
                <a href="./login.html">
                    <span>Log In |</span>
                </a>
                <a href="./signin.html">
                    <span>Sign In</span>
                </a>
            </div>
            <div class="info-login">
                <span>***</span>
                <span>| Log Out</span>
            </div>
        </div>
    </div>
    </div>
</header>