<nav class="nav-wrapper">
    <div class="container">
        <div class="responsive-menu p-3">
            <span class="menu-icon">
                <span class="menu-icon-item"></span>
                <span class="menu-icon-item"></span>
                <span class="menu-icon-item"></span>
            </span>
            <span>MENU</span>
            <ul>
                <li><a href="#">Fashion</a></li>
                <li><a href="#">Electronics</a></li>
                <li><a href="#">Home & Graden</a></li>
                <li><a href="#">Sporting Goods</a></li>
                <li><a href="#">Toys</a></li>
            </ul>
        </div>
        <div class="main-menu">
            <ul class="d-flex">
                <li>
                    <a href="#">Electronics</a>
                    <span><i class="fas fa-angle-down"></i></span>
                    <div class="dropdown-box my-3">
                        <ul class="sub-menu">
                            <li><a href="#">Computers</li></a>
                            <li><a href="#">Cell Phones</li></a>
                            <li><a href="#">TV & Video</li></a>
                            <li><a href="#">Smart Home</li></a>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#">Apperal</a>
                    <span><i class="fas fa-angle-down"></i></span>
                    <div class="dropdown-box my-3">
                        <ul class="sub-menu">
                            <li><a href="#">Women's</li></a>
                            <li><a href="#">Men's</li></a>
                            <li><a href="#">kids</li></a>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#">Home</a>
                    <span><i class="fas fa-angle-down"></i></span>
                    <div class="dropdown-box my-3">
                        <ul class="sub-menu">
                            <li><a href="#">Applicances</li></a>
                            <li><a href="#">Furniture</li></a>
                            <li><a href="#">Decorations</li></a>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#">Sporting</a>
                    <span><i class="fas fa-angle-down"></i></span>
                    <div class="dropdown-box my-3">
                        <ul class="sub-menu">
                            <li><a href="#">Bikes</li></a>
                            <li><a href="#">Fitness</li></a>
                            <li><a href="#">Camping & Hiking</li></a>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#">Food</a>
                    <span><i class="fas fa-angle-down"></i></span>
                    <div class="dropdown-box my-3">
                        <ul class="sub-menu">
                            <li><a href="#">Coffee</li></a>
                            <li><a href="#">Snacks</li></a>
                            <li><a href="#">Meals</li></a>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</nav>