<nav class="nav-wrapper">
    <div class="container">
        <div class="responsive-menu p-3">
            <span class="menu-icon">
                <span class="menu-icon-item"></span>
                <span class="menu-icon-item"></span>
                <span class="menu-icon-item"></span>
            </span>
            <span>MENU</span>
            <ul>
                <li><a href="#">Fashion</a></li>
                <li><a href="#">Electronics</a></li>
                <li><a href="#">Home & Graden</a></li>
                <li><a href="#">Sporting Goods</a></li>
                <li><a href="#">Toys</a></li>
            </ul>
        </div>
        <div class="main-menu">
            <ul class="d-flex p-3">
                <li>Fashion</li>
                <li>Electronics</li>
                <li>Home & Graden</li>
                <li>Sporting Goods</li>
                <li>Toys</li>
            </ul>
        </div>

    </div>
</nav>