.index-content {
    flex: 1;
}

.profile {
    flex-basis: 70%;
}

.profile-nav a:hover {
    color: rgb(245, 17, 103);
}

.profile header {
    font-size: 20px;
    border-bottom: 1px solid rgb(245, 17, 103);
}

.profile header span {
    color: rgb(245, 17, 103);
}

.profile .edit {
    cursor: pointer;
}

.account-info label {
    width: 30%;
}

.billing-address label {
    width: 30%;
}

input[type='text'] {
    width: 60%;
    height: 30px;
}

input[type='password'] {
    width: 60%;
    height: 30px;
}

@media only screen and (max-width:767px) {
    .profile {
        flex-basis: 100%;
    }
}