.order-content header {
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid rgb(245, 17, 103);
}

.order-content-address name {
    font-weight: 500;
}

.address-detail {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.address-detail>div {
    border: 1px dashed black;
}

.address-detail>div:hover {
    border-color: rgb(245, 17, 103);
}

.address-detail .active-style {
    border: 2px dashed rgb(245, 17, 103);
}

.add-icon {
    font-size: 3rem;
}

.required {
    color: rgb(245, 17, 103);
}

.form-group label {
    width: 30%;
}

.form-group input {
    width: 65%;
}

.order-modal {
    /* display: none; */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}

.order-modal-content {
    background: #eee;
}

@media only screen and (max-width:1000px) {
    .address-detail {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width:800px) {
    .address-detail {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width:600px) {
    .address-detail {
        grid-template-columns: 1fr;
    }
}