.sort-flag {
    opacity: .6;
}

.sort>div {
    width: 100px;
    border: 1px solid rgb(245, 17, 103);
    text-align: center;
    cursor: pointer;
}

.sort-by-default {
    background: white;
}

.sort-by-price {
    background: white;
    position: relative;
    margin-left: -1px;
}

.fa-sort-down {
    position: absolute;
    top: 5px;
    right: 24px;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.item {
    background: white;
    cursor: pointer;
}

.item:hover {
    box-shadow: 1px 1px 7px #ddd;
}

.item img {
    max-width: 100%;
}

.item>a {
    position: relative;
}

.item>a span {
    position: absolute;
    right: 10px;
    bottom: 5px;
    z-index: 1;
    font-size: 25px;
}

.item>a span:hover {
    color: rgb(245, 17, 103);
}

@media only screen and (max-width:1000px) {
    .list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width:800px) {
    .list {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width:600px) {
    .list {
        grid-template-columns: 1fr;
    }
}