<!DOCTYPE html>
<html lang="en">

<head>
    <%= require('html-loader!./share/head.html')%>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
    <%= require('html-loader!./share/header-simple.html')%>
    <div class="content pb-3">
        <div class="container pt-3">
            <div class="forget-password-wrapper d-flex flex-column align-items-center">
                <h2>Forgotten your password?</h2>
                <div class="password-reset-content">
                    <div class="forgetPassword-item py-3 text-center">
                        <label for="email">
                            <span><i class="far fa-envelope"></i></span>
                        </label>
                        <input type="text" id="email" class="email pl-3" placeholder="Email">
                    </div>
                    <div class="forgetPassword-submit text-center pt-2">
                        <button type="button" class="btn forgetPassword-btn">Submit</button>
                    </div>
                </div>
                <div class="password-reset-msg">
                    <p>If this email address is registered, you will receive a password reset request email.Please check
                        your email</p>
                </div>
            </div>
        </div>
    </div>
    <%= require('html-loader!./share/footer.html')%>
</body>

</html>