<!DOCTYPE html>
<html lang="en">

<head>
    <%= require('html-loader!./share/head.html')%>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
    <%= require('html-loader!./share/header-common.html')%>
    <%= require('html-loader!./share/navbar.html')%>
    <div class="content pb-3">
        <div class="content-wrapper d-flex flex-wrap">
            <div class="slide-show">
                <div class="slide-show-content">
                    <div><img src='<%=require("../image/slider1-2x.jpg")%>' alt="slideImg"></div>
                    <div><img src='<%=require("../image/slider2-2x.jpg")%>' alt="slideImg"></div>
                    <div><img src='<%=require("../image/slider3-2x.jpg")%>' alt="slideImg"></div>
                </div>
            </div>
            <div class="container pt-4">
                <h2 class="text-center pb-1">Top Categories</h2>
                <div class="category">
                    <span>Fashion</span>
                    <div class="list d-flex mb-1">
                        <div class="item d-flex flex-column">
                            <a href="#" class="text-center">
                                <img srcset='<%=require("../image/list-600.jpg")%> 600w,
                                         <%=require("../image/list-300.jpg")%> 300w'
                                    sizes="(max-width:800px) 300px,600px" src='<%=require("../image/list-600.jpg")%>'
                                    alt="category img">
                            </a>
                            <div class="description">
                                <span>sdfwe dfgfd wer3 dfg</span>
                            </div>
                        </div>
                        <div class="item d-flex flex-column">
                            <a href="#" class="text-center">
                                <img srcset='<%=require("../image/list-600.jpg")%> 600w,
                                <%=require("../image/list-300.jpg")%> 300w' sizes="(max-width:800px) 300px,600px"
                                    src='<%=require("../image/list-600.jpg")%>' alt="category img">
                            </a>
                            <div class="description">
                                <span>sdfwe dfgfd wer3 dfg</span>
                            </div>
                        </div>
                        <div class="item d-flex flex-column">
                            <a href="#" class="text-center">
                                <img srcset='<%=require("../image/list-600.jpg")%> 600w,
                                <%=require("../image/list-300.jpg")%> 300w' sizes="(max-width:800px) 300px,600px"
                                    src='<%=require("../image/list-600.jpg")%>' alt="category img">
                            </a>
                            <div class="description">
                                <span>sdfwe dfgfd wer3 dfg</span>
                            </div>
                        </div>
                        <div class="item d-flex flex-column">
                            <a href="#" class="text-center">
                                <img srcset='<%=require("../image/list-600.jpg")%> 600w,
                                <%=require("../image/list-300.jpg")%> 300w' sizes="(max-width:800px) 300px,600px"
                                    src='<%=require("../image/list-600.jpg")%>' alt="category img">
                            </a>
                            <div class="description">
                                <span>sdfwe dfgfd wer3 dfg</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="category">
                    <span>Beauty</span>
                    <div class="list d-flex mb-1">
                        <div class="item d-flex flex-column">
                            <a href="#" class="text-center">
                                <img srcset='<%=require("../image/list-600.jpg")%> 600w,
                                             <%=require("../image/list-300.jpg")%> 300w'
                                    sizes="(max-width:800px) 300px,600px" src='<%=require("../image/list-600.jpg")%>'
                                    alt="category img">
                            </a>
                            <div class="description">
                                <span>sdfwe dfgfd wer3 dfg</span>
                            </div>
                        </div>
                        <div class="item d-flex flex-column">
                            <a href="#" class="text-center">
                                <img srcset='<%=require("../image/list-600.jpg")%> 600w,
                                    <%=require("../image/list-300.jpg")%> 300w' sizes="(max-width:800px) 300px,600px"
                                    src='<%=require("../image/list-600.jpg")%>' alt="category img">
                            </a>
                            <div class="description">
                                <span>sdfwe dfgfd wer3 dfg</span>
                            </div>
                        </div>
                        <div class="item d-flex flex-column">
                            <a href="#" class="text-center">
                                <img srcset='<%=require("../image/list-600.jpg")%> 600w,
                                    <%=require("../image/list-300.jpg")%> 300w' sizes="(max-width:800px) 300px,600px"
                                    src='<%=require("../image/list-600.jpg")%>' alt="category img">
                            </a>
                            <div class="description">
                                <span>sdfwe dfgfd wer3 dfg</span>
                            </div>
                        </div>
                        <div class="item d-flex flex-column">
                            <a href="#" class="text-center">
                                <img srcset='<%=require("../image/list-600.jpg")%> 600w,
                                    <%=require("../image/list-300.jpg")%> 300w' sizes="(max-width:800px) 300px,600px"
                                    src='<%=require("../image/list-600.jpg")%>' alt="category img">
                            </a>
                            <div class="description">
                                <span>sdfwe dfgfd wer3 dfg</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="category">
                    <span>Sports</span>
                    <div class="list d-flex mb-1">
                        <div class="item d-flex flex-column">
                            <a href="#" class="text-center">
                                <img srcset='<%=require("../image/list-600.jpg")%> 600w,
                                             <%=require("../image/list-300.jpg")%> 300w'
                                    sizes="(max-width:800px) 300px,600px" src='<%=require("../image/list-600.jpg")%>'
                                    alt="category img">
                            </a>
                            <div class="description">
                                <span>sdfwe dfgfd wer3 dfg</span>
                            </div>
                        </div>
                        <div class="item d-flex flex-column">
                            <a href="#" class="text-center">
                                <img srcset='<%=require("../image/list-600.jpg")%> 600w,
                                    <%=require("../image/list-300.jpg")%> 300w' sizes="(max-width:800px) 300px,600px"
                                    src='<%=require("../image/list-600.jpg")%>' alt="category img">
                            </a>
                            <div class="description">
                                <span>sdfwe dfgfd wer3 dfg</span>
                            </div>
                        </div>
                        <div class="item d-flex flex-column">
                            <a href="#" class="text-center">
                                <img srcset='<%=require("../image/list-600.jpg")%> 600w,
                                    <%=require("../image/list-300.jpg")%> 300w' sizes="(max-width:800px) 300px,600px"
                                    src='<%=require("../image/list-600.jpg")%>' alt="category img">
                            </a>
                            <div class="description">
                                <span>sdfwe dfgfd wer3 dfg</span>
                            </div>
                        </div>
                        <div class="item d-flex flex-column">
                            <a href="#" class="text-center">
                                <img srcset='<%=require("../image/list-600.jpg")%> 600w,
                                    <%=require("../image/list-300.jpg")%> 300w' sizes="(max-width:800px) 300px,600px"
                                    src='<%=require("../image/list-600.jpg")%>' alt="category img">
                            </a>
                            <div class="description">
                                <span>sdfwe dfgfd wer3 dfg</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <%= require('html-loader!./share/footer.html')%>
</body>

</html>