<!DOCTYPE html>
<html lang="en">

<head>
    <%= require('html-loader!./share/head.html')%>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
    <%= require('html-loader!./share/header-common.html')%>
    <%= require('html-loader!./share/navbar.html')%>
    <div class="container index-content">
        <div class="content-wrapper d-flex flex-wrap">
            <%= require('html-loader!./share/sidebar.html')%>
            <div>this is order</div>
        </div>
    </div>
    <%= require('html-loader!./share/footer.html')%>
</body>

</html>