<!DOCTYPE html>
<html lang="en">

<head>
    <%= require('html-loader!./share/head.html')%>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
    <%= require('html-loader!./share/messagebox.html')%>
    <%= require('html-loader!./share/header-common.html')%>
    <%= require('html-loader!./share/navbar.html')%>
    <div class="content pb-3">
        <div class="container pt-3">
            <div><a href="./index.html">Home</a> >> Shopping Cart</div>

            <div class="cart-content">
                <!-- <div class="loading">
                </div> -->

            </div>
        </div>
    </div>
    <%= require('html-loader!./share/footer.html')%>
</body>

</html>