.container {
    flex: 1;
}

.password-reset-content {
    width: 50%;
}

.forgetPassword-item {
    border-bottom: 1px solid #e6e6e6;
}

.forgetPassword-item input {
    width: 90%;
    border: none;
    outline: none;
    font-size: 20px;
    line-height: 30px;
}

.forgetPassword-submit button {
    width: 30%;
    background: rgb(245, 17, 103);
}

.password-reset-msg {
    display: none;
}

@media only screen and (max-width:780px) {
    .password-reset-content {
        width: 100%;
    }
}