.nav-wrapper {
    background: #282828;
    color: white;
}

.main-menu ul {
    margin-bottom: 0;
}

.main-menu ul li {
    flex: 1;
    text-align: center;
}

.responsive-menu {
    display: none;
}

.responsive-menu a {
    color: white;
}

.responsive-menu li {
    padding-bottom: .2em;
}

.menu-icon {
    display: inline-block;
}

.menu-icon-item {
    display: block;
    width: 1.125em;
    height: .125em;
    background: white;
    margin-top: .2em;
}

@media only screen and (max-width:767px) {
    .responsive-menu {
        display: block;
    }

    .responsive-menu ul {
        display: none;
    }

    .main-menu {
        display: none;
    }
}