.nav-wrapper {
    background: #282828;
    color: white;
}

.main-menu ul {
    margin-bottom: 0;
}

.main-menu ul li {
    flex: 1;
    text-align: center;
}

.main-menu>ul>li {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.main-menu>ul>li>a {
    color: white;
}

.main-menu>ul>li:hover .dropdown-box {
    display: block;
}

.dropdown-box a:hover {
    color: rgb(245, 17, 103);
}


.dropdown-box {
    position: absolute;
    z-index: 9;
    box-shadow: 0 3px 5px rgb(245, 17, 103);
    width: 100%;
    display: none;
}

.sub-menu {
    background: #282828;
}

.sub-menu li {
    line-height: 2;
}

.sub-menu li a {
    color: white;
}

.responsive-menu {
    display: none;
}

.fa-chevron-down {
    font-size: 12px;
}

.responsive-menu a {
    color: white;
}

.responsive-menu li {
    padding-bottom: .2em;
}

.menu-icon {
    display: inline-block;
}

.menu-icon-item {
    display: block;
    width: 1.125em;
    height: .125em;
    background: white;
    margin-top: .2em;
}

@media only screen and (max-width:767px) {
    .responsive-menu {
        display: block;
    }

    .responsive-menu ul {
        display: none;
    }

    .main-menu {
        display: none;
    }
}