.slide-show {
    width: 100%;
}

.slide-show img {
    max-width: 100%;
}

/* .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
} */

.item {
    background: white;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
    flex: 1;
}

.item:hover {
    box-shadow: 1px 1px 7px #ddd;
}

.item img {
    max-width: 100%;
}

.description {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.category>span {
    font-size: 20px;
    display: block;
    border-bottom: 1px solid black;
    margin-bottom: .5rem;
}

@media only screen and (max-width:768px) {
    .list {
        flex-wrap: wrap;
    }

    .list .item {
        flex-basis: 50%;
    }
}

/* @media only screen and (max-width:1000px) {
    .list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width:800px) {
    .list {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width:600px) {
    .list {
        grid-template-columns: 1fr;
    }
} */